language: android

# to use trusty beta builds for more memory
# https://docs.travis-ci.com/user/ci-environment/
# sudo: true
# dist: trusty

android:
  components:
    - platform-tools
    - tools
    - extra-android-m2repository
    - extra-google-m2repository
    - extra-android-support
    - android-23
    - sys-img-armeabi-v7a-android-17
    - addon-google_apis-google-17
    - build-tools-23.0.2

  licenses:
    - 'android-*'
    - '.*intel.+'

before_install:
  - free -m # show available memory on VM
  - cp templates/configurables.xml.template app/src/main/res/values/configurables.xml
  - cp templates/release.properties.template app/release.properties
  - touch app/driver.keystore
  - echo yes | android update sdk --no-ui -a --filter android-23,tools,platform-tools,addon-google_apis-google-17,extra-android-m2repository,extra-google-m2repository,extra-android-support --force > /dev/null
  - echo yes | android update sdk --no-ui -a --filter "build-tools-23.0.2" --force > /dev/null

before_script:
  - ulimit -c unlimited -S # increase stack size
  - android list targets # to debug
  - echo no | android create avd --force -n test -t "Google Inc.:Google APIs:17" --abi armeabi-v7a --skin HVGA
  - sleep 5
  - emulator -avd test -no-skin -no-audio -no-window -no-boot-anim -dpi-device 480 &
  - sleep 10
  - android-wait-for-emulator
  - adb shell input keyevent 82 &
  - sleep 5 && adb shell input keyevent 82 &
  # NB: necessary to perform build step first and separately from test run
  - ./gradlew build --stacktrace

env:
  global:
    - ADB_INSTALL_TIMEOUT=8 # in minutes (defaults to 2)
    - TERM=dumb
    - MALLOC_ARENA_MAX=2
    - GRADLE_OPTS='-Dorg.gradle.jvmargs="-Xmx2560m -XX:+HeapDumpOnOutOfMemoryError"'

script:
  - ./gradlew connectedCheck --stacktrace
